<div class="row" style="margin-top: 50px;">
  <div class="col-12">
    <h1 style="margin-left: 50px;margin-top: 50px;">Product</h1>
    <div class="row" style="margin-left: 15px; max-width: 95%;">
      <div class="col-lg-3 col-md-6 img-responsive" *ngFor="let item of product">
          <div class="card" [routerLink]="['/product/detail', item.id]">
              <div class="card-body">
                  <img width="250px" height="250px" src='../../../assets/img/{{item.url}}'>
                  <h4 class="card-title">{{item.name}}</h4>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
