<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500" id="navbar" style="background-color: #7f66fb;">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" (click)="home()"><img src="../../assets/img/afc_logo.png" width="110px"></a>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item" *ngIf="isHome()">
                    <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" target="_blank" class="btn btn-danger btn-round">Upgrade to Pro</a>
                </li> -->
                <li class="nav-item" (click)="showCartPopup()" *ngIf="this.login && !this.isadmin" style="cursor: pointer;">
                    <a class="nav-link"><i class="nc-icon nc-cart-simple"></i>Your cart</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/login']" *ngIf="!this.login" class="nav-link"><i class="nc-icon nc-lock-circle-open"></i>Login</a>
                    <a [routerLink]="['/order']" *ngIf="this.login" class="nav-link"><i class="nc-icon nc-basket"></i>Track your Order</a>

                </li>
                <li class="nav-item">
                  <a [routerLink]="['/product']" class="nav-link"><i class="nc-icon nc-bag-16"></i>Product</a>
                </li>
                <li class="nav-item" (click)="logout()" *ngIf="this.login" style="cursor: pointer;">
                  <a class="nav-link"><i class="nc-icon"></i>Logout</a>
                </li>
                <li class="nav-item">
                  <a *ngIf="this.login" class="nav-link">{{ name }}</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
