<div class="row" style="margin-top: 100px;">
  <!-- <div class="tajuk">
    <h1>Product</h1>
  </div> -->
  <div class="main">
    <div class="row">
      <div class="col-lg-3 col-md-6 img-responsive" style="padding-top: 70px;">
        <img width="350px" src='../../../assets/img/{{detail[0].url}}'>
      </div>
      <div class="col-lg-3 col-md-6 img-responsive"  style="margin-left: 100px; padding-top: 70px; width: 30% !important;">
        <h1>{{detail[0].name}}</h1>
        <a>Description</a><br>
        <a>{{detail[0].description}}</a>
      </div>
      <div class="col-lg-1 col-md-6 img-responsive"  style="margin-left: 100px; padding-top: 70px; align-self: center;">
        <div class="wrapper">
          <button class="plusminus" (click)="handleMinus()">-</button>
          <input [(ngModel)]="value"type="number" class="num" value="1" min="1"/>
          <button class="plusminus" (click)="handlePlus()">+</button>
        </div><br>
        <a (click)="add()" class="btn btn-primary" style="width: 150px;">Add</a>
      </div>
    </div>
  </div>
</div>
