.tajuk{
  margin-top: 2%;
  margin-left: 2%;
}

h1{
  color: black;
  font-size: xx-large;
  font-weight: 500;
}

input {
  text-align: center;
  border: 1px solid #6c757d;
}

input[type='number'] {
  -webkit-appearance: textfield !important;
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.num {
  height: 100%;
  width: 39%;
  border: none;
  font-size: 20px;
}

.plusminus {
  height: 100%;
  width: 30%;
  background: white;
  border: none;
  font-size: 30px;
  color: #5f5fce;
}

.wrapper {
  border: 2px #dcd3d3 solid;
  width: 150px;
  padding: 10px;
  display: flex;
  border-radius: 15px;
}

.main {
  width: 80%;
  left: 9%;
  padding-bottom: 50px;
  border-radius: 5px;
}
