<div class="row" style="margin-top: 100px;">
  <!-- <div class="tajuk">
    <h1>Product</h1>
  </div> -->
  <h1 style="margin-left: 50px;">Your Order</h1>
  <div class="main">
    <table class="table table-bordered table-hover htltTable" id="htltStesen">
      <thead>
          <tr>
              <th>ID</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Status</th>
              <th>Date</th>
              <th *ngIf="this.isadmin">ACTION</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of data">
              <td>{{item.id}}</td>
              <td>{{item.product.name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.status.status}}</td>
              <td>{{item.created_at | date : "dd-MM-yyyy"}}</td>
              <th *ngIf="this.isadmin">
                <button mat-button [matMenuTriggerFor]="menu" style="width: 100%; background-color: #7f66fb;">Change Status</button>
              </th>
              <mat-menu #menu="matMenu" style="width: 100%;">
                <div *ngFor="let item2 of status">
                  <button mat-menu-item *ngIf="item2.id !== item.status.id" (click)="updateStatus(item.id, item2.id)">{{item2.status}}</button>
                </div>
              </mat-menu>
          </tr>
        <ng-template #noData>
          <tr>
            <td colspan="5" style="text-align: center;">No Data</td>
          </tr>
        </ng-template>
      </tbody>
  </table>
  </div>
</div>
