<!-- <button mat-raised-button routerLink="/login">Login</button>
<button mat-raised-button (click)="logout()">Logout</button> -->

<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/afcBanner.png');">
      <div class="filter"></div>
      <div class="content-center">
          <div class="container">
              <div class="title-brand">
                  <div class="angular-logo">
                      <!-- <img src="assets/img/angular2-logo.png" alt=""> -->
                  </div>
                  <!-- <h1 class="presentation-title">Asian Football Confederation</h1> -->
              </div>
          </div>
      </div>
  </div>
  <div class="main">
    <div class="section" style="padding-top: 40px;">
        <div class="container">
            <div class="row">
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <div class="tim-title">
                        <h1>Products</h1>
                        <div class="row card" style="width: max-content; padding-top: 30px; padding-right: 90px;">
                          <div class="col-lg-3 col-md-6 img-responsive" *ngFor="let item of product">
                            <div class="">
                                <div class="card-body">
                                    <img width="250px" height="250px" src='../../../assets/img/{{item.url}}'>
                                    <h4 class="card-title">{{item.name}}</h4>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>
