.mat-mdc-raised-button {
  background-color: #1976d2 !important;
  color: white !important;
}

h1{
  color: black;
  font-size: xx-large;
  font-weight: 500;
}

.card{
  height: 300px !important;
  width: 300px;
  /* align-items: left !important; */
}

p {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  padding-top: 10px;
  font-size: large;
  font-weight: 500;
}
